<!-- app/views/users/film_list.html.erb -->

<style>

</style>

<h3>Film List for <%= link_to @user.username, user_path(@user) %> (<%= @user.name%>)</h3>

<%= turbo_stream_from :films %>
<ul>
  <%= turbo_frame_tag :films do %>
    <%= render @all_films %>
  <% end %>
</ul>